body {
  height: 100%;
  background-image: url('../image/bg2.jpg');
}
.form-register {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 5px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}
.form-control{
  border-radius: 0.75rem;
  border: 1.5px solid  #d0421a42;
}
.text-center{
  color:#d0421a;
}
a {
    color: #d0421a;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary{
    color: #d0421a;
    background-color: #007bff00;
    border-color: #d0421a42;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #d0421a42;
  border-color: #d0421a42;
}